body{
    
    background-color: #fff;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;

}
#scorebox{
    margin: 10px;
}
#replay{
    padding: 10px 20px;
    background: #fff020;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50%;
    display: none;
}
.brd{ 
	background-size: auto 100%;
	width: 130px;
	height: 125px;
	position:absolute;
    border: hidden;
	
}
.brd:hover{
cursor: crosshair;
}
.brd:nth-last-of-type(1){
    position: absolute;
    animation: fly 8s linear infinite;
}
.brd:nth-last-of-type(2){
    position: absolute;
    animation: fly 6s linear infinite;
}
.brd:nth-last-of-type(3){
    position: absolute;
    animation: fly 4s linear infinite;
}
.brd:nth-last-of-type(4){
    position: absolute;
    animation: fly 5s linear infinite;
}

@keyframes fly{
    0%{
        top: 80%;
        left: -20%;
    }
    20%{
        top: 30%;
        left: 0%;
    }
    40%{
        left: 40%;
    }
    60%{
        top: 6%;
        left: 60%;
    }
    80%{
        left: 80%;
    }
    100%{
        top: 30%;
        left: 200%;
    }
}
